/* Note there a few "reset" styles given in reset.css. Review those before you begin */
.rating .material-icons, dd>span.material-icons {
	color:#E9BE0F;
}
.page-header .fa {
	color:var(--alt-color);
}
.product{
	margin-bottom: 3em;
}
header.page-header{
    display: grid;
    text-align: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0em 0 1em 0;
}
.header-wrapper{
    display: grid;

}
.navigation, .search,  .m-hide{
    display: none;
}
.rating {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: .5em;
}
/* <======== side bar styling Start ============> */
label.rating{
    justify-content: flex-start;
}
/* <======== side bar styling ends ============> */

.filter-toggle{
    display: flex;
    gap: 1em;
    justify-content: center; 
}
.filter-toggle h2{
    margin: .2em 0 0 0 ;
    font-size: 1.2em;
}

.header-cart, .prodcut-list-cart{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between; 
    /* background-color: green; */
}
.logo{
    margin:0 auto;
}
.page-title{
	background-color: var(--global-color-secondary);
	margin: 0 -1em;
	margin-bottom: 2em;
}
main{
    display: grid;
    margin-bottom: 2em;
}
.pages, .iterm-properties, .iterm-properties fieldset> ol, .iterm-properties fieldset> ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.iterm-properties{
    display: flex;
    justify-content:flex-start;
    margin-bottom: 1em;
}
.rating dd{
    display: flex;
    margin-left: .3em;
}
.rating dd p{
    margin: 0.1em .5em 0 0;
    color: var(--prim-text-color);
}
.add-to-cart-btn{
    background-color:var(--btn-color);
    border: none;
    color:var(--prim-text-color);
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.add-to-fav {
    background-color: var(--global-color-primary);
}
.main-footer{
    background-color: var(--secondary-on);
    margin: 0 -1em -1em -1em;
    padding: 2em;
    /* display: flex; */
}
.footer-links{
    margin-bottom: 2em;
}
.legal, .social{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1em;
}
.legal :nth-child(2) {
    padding: 0 1em;
   border-left: .2em solid var(--alt-text-color);
   border-right: .2em solid var(--alt-text-color);
 }
 .social{
     margin-bottom: 2em;
 }
 .social-section{
    justify-content:center;
    text-align: center;
 }
.footer-nav{
    text-align: center;
}

/* ============== start media queries ============*/

@media only screen and (min-width: 992px){
    .nav-toggle{
        display: none;
    }
    main{
        padding:0;
        width:76em;
        margin:0em auto;
        padding-bottom: 2em;
        display: grid;
        grid-template-columns:1fr 2fr;
        grid-template-areas:
        "sidebar results" ;
        /* column-gap: 2em; */
    }
    .page-header, .main-footer{
        padding:2em;
        width:76em;
        margin:0em auto;
    }
    .page-footer{
        margin: 0 -1em 0 -1em;
        background-color: var(--secondary-on);
    }
    .navigation, .m-hide, .search{
        display: block;
    }
    .sidebar, .results{
        padding: 0 1em;
    }
    .sidebar{
        margin-top: 1em;
        margin-left: 6em;
        width: 20em;
    }
    .navigation ul{
        display: flex;
        justify-content:center;
        /* gap: 4em; */
    }
    .navigation{
        border:1px solid #ccc;
        border-width:1px 0;
        text-align:center;
    }
    .navigation ul li{
        display:inline;
    }
    .navigation a{
        display:inline-block;
        padding:1em 5em;
        font-size: 1.3em;
    }
    .navigation ul ul {
        display:none;
    }
    .navigation ul ul li {
        left:auto;  /*resets the left:50% on the parent li */
        margin:0; /* Reset the 1px margin from the top menu */
        clear:left;
        width:100%;
    }
    .navigation ul ul li a,
    .navigation ul li.active li a,
    .navigation ul li:hover ul li a{
        font-size:1em;
        font-weight:normal; /* resets the bold set for the top level menu items */
        line-height:1.4em; /* overwrite line-height value from top menu */
    }
    .navigation ul ul li a:hover,
    .navigation ul li.active ul li a:hover,
    .navigation ul li:hover ul li a:hover {
        background:var(--btn-color); /* Sub menu items background colour */
        color:var(--prim-text-color);
    }
    /* Make the sub menus appear on hover */
    .navigation ul li:hover ul,
    .navigation ul li.hover ul { /* This line is required for IE 6 and below */
        background-color: var(--secondary-on);
        position: absolute;
        display:block;     /* Show the sub menus */
    }
    .menu>li:hover {
        background-color:var(--secondary-on);
    }

}